{% extends 'base.html' %}
{% block content %}
<h3>New Complaint</h3>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="mb-3">{{ form.title.label }} {{ form.title(class="form-control") }}</div>
  <div class="mb-3">{{ form.description.label }} {{ form.description(class="form-control", rows=5) }}</div>
  <div class="mb-3">{{ form.customer.label }} {{ form.customer(class="form-control") }}</div>
  <div class="mb-3">{{ form.severity.label }} {{ form.severity(class="form-select") }}</div>
  <div class="mb-3">{{ form.category.label }} {{ form.category(class="form-select") }}</div>
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
